* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(./../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(./../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(./../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(./../fonts/Nunito-Regular.ttf);
}

#main {
  width: calc(100% - 240px);
  background: #1A1A1A;
}

header {
  color: #fff;
  padding: 21px 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1A1A1A;
  border-bottom: 0.25px solid #FFFFFF50;
}

header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title img {
  margin-right: 16px;
}

header .header-title h6 {
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.0015em;
  font-family: Montserrat-SemiBold;
}

header .box-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .box-admin .ml-16 {
  margin-left: 16px;
}

header .box-admin .box-1 {
  padding: 15px;
  visibility: hidden;
}

header .box-admin .icon-search {
  padding: 15px;
}

header .box-admin .box-admin-txt {
  background: #2E2E2E;
  border-radius: 33px;
  padding: 8px 17px 8px 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .box-admin .box-admin-txt .box-txt {
  margin-right: 25px;
}

header .box-admin .box-admin-txt .box-txt .display-name {
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  font-family: Montserrat-Bold;
}

header .box-admin .box-admin-txt .box-txt .office-name {
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  opacity: 0.5;
  font-family: Montserrat-Regular;
}

main {
  padding: 0 76px;
  position: relative;
}

main .add-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: auto;
  background: #4D64DA;
  border: 2px solid #4D64DA;
  border-radius: 38px;
  padding: 10px 51px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 24px 0;
  cursor: pointer;
}

main .add-clients p {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  font-family: Montserrat-SemiBold;
  margin-right: 10px;
}

main .table-list table {
  color: #fff;
  width: 100%;
  border-spacing: 0 8px;
}

main .table-list table input[type="checkbox"] {
  display: none;
}

main .table-list table label {
  position: relative;
  cursor: pointer;
}

main .table-list table label:before {
  content: '';
  background: none;
  width: 12px;
  height: 12px;
  padding: 4px;
  border: 2px solid #fff;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
}

main .table-list table input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 4px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .table-list table .table-checkbox {
  width: 8%;
}

main .table-list table .table-name {
  width: 26%;
}

main .table-list table .table-email {
  width: 35%;
}

main .table-list table .table-phone {
  width: 18%;
}

main .table-list table .table-origin {
  width: 13%;
}

main .table-list table td {
  padding-left: 52px;
}

main .table-list table td:nth-child(1) {
  text-align: center;
  padding: 0;
}

main .table-list table thead {
  position: relative;
}

main .table-list table thead::after {
  content: '';
  height: 16px;
  width: 100%;
  display: block;
}

main .table-list table thead td {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  font-family: Nunito-Regular;
  padding-top: 5px;
  padding-bottom: 14px;
  border-bottom: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
}

main .table-list table thead td:nth-last-child(1) {
  border-right: none;
}

main .table-list table tbody tr.active {
  position: relative;
  z-index: 1;
}

main .table-list table tbody tr.active::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #2E2E2E;
  border-radius: 36px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main .table-list table tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.005em;
  font-family: Montserrat-Medium;
}

main .table-list table tbody td .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .table-list table tbody td .box img {
  margin-right: 16px;
}

main .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 56px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

main .profile .profile_image {
  width: 228px;
}

main .profile .profile_image .box-img {
  width: 228px;
  height: 228px;
  margin-right: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main .profile .profile_image .box-img.no-border {
  border: none !important;
}

main .profile .profile_image .box-img .box {
  text-align: center;
}

main .profile .profile_image .box-img p {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.001em;
  color: #fff;
  font-family: Nunito-Regular;
  text-align: center;
  margin-top: 10px;
}

main .profile .profile_image .no-border button {
  margin-top: 24px;
  background: #2E2E2E;
  border-radius: 38px;
  color: #fff;
  padding: 12px 60px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.0125em;
  font-family: Montserrat-SemiBold;
  border: none;
}

main .profile .profile_form {
  width: calc(100% - 228px - 32px);
}

main .profile .profile_form label {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.001em;
  color: #C1C1C1;
  font-family: Nunito-Regular;
}

main .profile .profile_form input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  background: none;
  border: none;
  border-bottom: 1px solid #5B5B5B;
  padding: 16px 0;
  color: #fff;
  margin-bottom: 12px;
  font-family: Montserrat-Medium;
}

main .profile .profile_form .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 12px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #5B5B5B;
}

main .profile .profile_form .radio p:nth-child(1) {
  margin-right: 54px;
}

main .profile .profile_form .radio p input {
  width: auto;
  margin: 0;
}

main .profile .profile_form .radio [type="radio"]:checked, main .profile .profile_form .radio [type="radio"]:not(:checked) {
  display: none;
}

main .profile .profile_form .radio [type="radio"]:checked + label, main .profile .profile_form .radio [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

main .profile .profile_form .radio [type="radio"]:checked + label:before, main .profile .profile_form .radio [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 100%;
  background: #1A1A1A;
}

main .profile .profile_form .radio [type="radio"]:checked + label:after, main .profile .profile_form .radio [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main .profile .profile_form .radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

main .profile .profile_form .radio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

main .profile .profile_form .radio label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #fff !important;
}

main .profile .profile_form input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

main .profile .profile_form .btn-submit {
  margin: 40px 0;
  text-align: right;
}

main .profile .profile_form .btn-submit button {
  background: none;
  border-radius: 38px;
  padding: 12px 54px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.0125em;
  font-family: Montserrat-SemiBold;
  border: 2px solid #9F9F9F;
  cursor: pointer;
}

main .profile .profile_form .btn-submit .submit {
  background: #4D64DA;
  color: #fff;
  border-color: #4D64DA;
  margin-left: 32px;
}

.sidebar-fixed #main {
  width: 100%;
  min-height: 120vh;
}

.sidebar-fixed #main header, .sidebar-fixed #main main {
  padding-left: 196px;
  padding-right: 196px;
}

#sidebar {
  background: #4D64DA;
  width: 240px;
}

#sidebar .box-author {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 56px;
}

#sidebar .box-author .avatar-author {
  background: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

#sidebar .box-author .name-author {
  margin-left: 8px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  letter-spacing: 0.0125em;
  font-family: Montserrat-SemiBold;
}

#sidebar .box-author .nav-icon {
  position: absolute;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}

#sidebar .menu ul {
  list-style: none;
  color: #fff;
}

#sidebar .menu ul li {
  padding: 17px 30px;
  position: relative;
}

#sidebar .menu ul li.active span {
  font-family: Montserrat-SemiBold;
}

#sidebar .menu ul li.active:before {
  content: '';
  width: 6px;
  height: 40px;
  left: 0px;
  background: #FFFFFF;
  border-radius: 0px 8px 8px 0px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#sidebar .menu ul li img, #sidebar .menu ul li span {
  vertical-align: middle;
}

#sidebar .menu ul li span {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0125em;
  margin-left: 10px;
  font-family: Montserrat-Regular;
}

.sidebar-fixed #sidebar {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 30px 196px;
  background: #555F8E;
  z-index: 111;
}

.sidebar-fixed #sidebar .box-author {
  padding: 0;
  margin-bottom: 0;
  float: left;
  margin-right: 196px;
}

.sidebar-fixed #sidebar .menu {
  float: left;
}

.sidebar-fixed #sidebar .menu ul li {
  padding: 0;
  width: 50%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sidebar-fixed #sidebar .menu ul li span {
  margin: 10px 0 0 0;
  width: 100%;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
}

.wrapper.sidebar-fixed {
  display: block;
}
/*# sourceMappingURL=index.css.map */